.base-dice {
    width: 37.5px;
    height: 37.5px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    transition: font-size 2s ease-in-out;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }